<h4>Normal Ordering</h4>

{{stepper-button decrement="decrement" increment="increment"}}

<h4>Reverse Ordering</h4>

{{stepper-button decrement="decrement" increment="increment" reverseOrdering=true}}

<h4>Only show increment</h4>

{{stepper-button increment="increment" hideDecrement=true}}

<h4>Only show decrement</h4>

{{stepper-button decrement="decrement" hideIncrement=true}}

{{outlet}}
